/* src/pages/Buscar.css */

/* Estilos generales para el contenedor de búsqueda */
.buscar {
    padding: 20px; /* Espaciado alrededor del contenedor */
}

/* Estilo para el campo de búsqueda */
.search-input {
    padding: 10px; /* Espaciado interno */
    margin-right: 10px; /* Espaciado a la derecha */
    width: calc(100% - 120px); /* Ajusta el ancho según sea necesario */
    border: 1px solid #ddd; /* Borde del campo de búsqueda */
    border-radius: 4px; /* Bordes redondeados */
}

/* Estilos específicos para la tabla de búsqueda */
.articulos-table {
    width: 100%; /* Ocupa todo el ancho disponible */
    border-collapse: collapse; /* Elimina el espacio entre las celdas */
    margin-top: 20px; /* Espaciado alrededor de la tabla */
    font-size: 1em; /* Tamaño de fuente */
    font-family: 'Arial', sans-serif; /* Tipo de fuente */
}

/* Estilo para las cabeceras de la tabla */
.articulos-table th,
.articulos-table td {
    border: 1px solid #ddd; /* Línea divisoria entre celdas */
    padding: 12px; /* Espaciado interno en las celdas */
}

.articulos-table th {
    background-color: #4CAF50; /* Color de fondo verde para las cabeceras */
    color: white; /* Color del texto en blanco */
}

/* Efecto al pasar el mouse sobre las filas */
.articulos-table tbody tr:hover {
    background-color: #f1f1f1; /* Color de fondo al pasar el mouse */
}

/* Estilo para los enlaces en los IDs */
.articulos-table td a {
    color: #4CAF50; /* Color del enlace verde */
    text-decoration: none; /* Sin subrayado en el enlace */
}

.articulos-table td a:hover {
    text-decoration: underline; /* Subrayar el enlace al pasar el mouse */
}

/* Estilo para el botón "Atrás" en detalle y QR */
button {
    background-color: #4CAF50; /* Color de fondo verde para el botón */
    color: white; /* Color del texto en blanco */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    border-radius: 5px; /* Bordes redondeados del botón */
}

button:hover {
    background-color: #45a049; /* Color más oscuro al pasar el mouse sobre el botón */
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 600px) {
    .search-input {
        width: calc(100% - 20px); /* Ajusta el ancho en pantallas pequeñas */
        margin-right:0; /* Elimina margen derecho en pantallas pequeñas*/
    }

    .articulos-table th,
    .articulos-table td {
        padding:8px; /* Menos espaciado en pantallas pequeñas*/
        font-size:.9em; /* Tamaño de fuente más pequeño en pantallas pequeñas*/
    }

    .articulos-table {
        font-size:.8em; /* Tamaño de fuente más pequeño en pantallas pequeñas*/
        overflow-x:auto; /* Permite desplazamiento horizontal si es necesario*/
        display:block; /* Convierte la tabla en un bloque para permitir desplazamiento horizontal*/
        white-space:no-wrap; /* Evita que las celdas se dividan en varias líneas*/
   }
}
