/* Puedes mantener los estilos generales aquí */
.crear-usuario-container {
    font-family: Arial, sans-serif;
    padding: 15px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 15px;
    font-size: 0.9em;
}

/* Estilos para el título */
.crear-usuario-container h2 {
    color: #333;
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.5em;
}

/* Estilos para los campos de texto y contraseñas */
.crear-usuario-container form input[type="text"],
.crear-usuario-container form input[type="password"] {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    color: #4c2580;
    width: 100%;
    box-sizing: border-box;
}

/* Estilos para las etiquetas */
.crear-usuario-container form label {
    color: #444444;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1em;
}
