/* src/components/Navbar.css */

.navbar-brand {
  margin-top: 10px; /* Espacio superior para el título SAMG */
  margin-bottom: 10px; /* Espacio inferior para el título SAMG */
  margin-left: 20px;
}

/* Estilo del botón de Login */
.login-button {
  margin-left: 10px; /* Espacio a la izquierda del botón Login */
  margin-top: 0; /* Elimina el margen superior para evitar un espacio excesivo */
  margin-right: 20px; /* Espacio a la derecha del botón Login */
  height: auto; /* Cambia a auto para evitar estiramiento vertical */
  padding: 10px 20px; /* Ajusta el padding según sea necesario */
  font-size: 16px; /* Ajusta el tamaño de la fuente si es necesario */

  background-color: #4CAF50; /* Color de fondo verde */
  color: white; /* Color del texto en blanco */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  
  transition: background-color 0.3s ease, transform 0.2s ease; /* Transiciones suaves para hover */
}

.login-button:hover {
  background-color: #45a049; /* Color más oscuro al pasar el mouse sobre el botón */
}
