/* ajuste de espacio en blanco footer*/
.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Agrega esto para evitar espacios en blanco */
}

/* src/App.css */

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.content-wrapper {
    flex: 1;
    padding-bottom: 50px;
    overflow-x: auto; /* Permite desplazamiento horizontal */
}

/* Estilos para el footer */
.footer {
    background-color: #007BFF; /* Cambia el color de fondo a azul */
    color: white;
    padding: 10px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Media Queries para Responsividad */
@media (max-width: 600px) {
    .content-wrapper {
        padding-bottom: 20px;
    }
}
